<!-- app/views/orders/new.html.erb -->
<%= form_with model: @order, local: true do |form| %>
  <% if @products.nil? %>
    <p>No products found. Please add some products first.</p>
  <% else %>
    <div class="field">
      <%= form.label :customer_name %>
      <%= form.text_field :customer_name %>
    </div>

    <div class="field">
      <%= form.label :customer_phone %>
      <%= form.text_field :customer_phone %>
    </div>

    <div class="field">
      <%= form.label :customer_email %>
      <%= form.email_field :customer_email %>
    </div>

   

   

    <div class="field">
      <%= form.label :total_amount %>
      <%= form.number_field :total_amount, step: 0.01 %>
    </div>

    <h3>Products</h3>
    <%= form.fields_for :order_products do |order_product_form| %>
      <div class="nested-fields">
        <div class="field">
          <%= order_product_form.label :product_id, "Product" %>
          <%= order_product_form.collection_select :product_id, @products, :id, :name, prompt: "Select a Product" %>
        </div>
        <div class="field">
          <%= order_product_form.label :quantity %>
          <%= order_product_form.number_field :quantity %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
