<% if session[:cart].present? %>
  <ul class="list-group">
    <% session[:cart].each do |item| %>
      <% product = Product.find(item["product_id"]) %>
      <li class="list-group-item d-flex justify-content-between align-items-center my-3">
        <div class="d-flex align-items-center">
          <!-- Product Image -->
          <%= image_tag(product.images.first,  size: '60x50') if product.images.present? %>

          <div class="ms-3">
            <!-- Product Name and Quantity -->
            <h6><%= product.name %></h6>
            <%= form_with(url: update_cart_path, method: :post, local: true) do |f| %>
              <%= hidden_field_tag :product_id, product.id %>
              
              <div class="input-group">
                <%= f.number_field :quantity, value: item["quantity"], 
                           min: 1, max: product.stock_quantity, 
                           class: 'form-control' %>
                  <%= f.submit "Update", class: "btn btn-sm btn-secondary" %>
                <% end %>
                </div>
            <form action="<%= remove_from_cart_path %>" method="post" class="d-inline ms-2">
              <%= hidden_field_tag :product_id, product.id %>
              <button type="submit" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i> <!-- Bin icon from Bootstrap Icons -->
              </button>
            </form>
          </div>
        </div>
        <span class="badge bg-primary rounded-pill"><%= number_to_currency(product.unit_price * item["quantity"].to_i) %></span>
      </li>
    <% end %>
  </ul>
  <div class="cart-summary">
    <div class="subtotal">
      <span>Sub Total</span>
      <span id="subtotal-amount"><%= number_to_currency(calculate_subtotal(session[:cart])) %></span>
    </div>
    <div class="actions">
      <button id="continue-shopping" class="btn btn-secondary" data-bs-dismiss="offcanvas">Continue Shopping</button>
    <form action="<%= checkout_path %>" method="get" class="d-inline">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Check Out</button>
    </form>
    </div>
  </div>
</div>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

