<%= form_with(model: [:admin, @category], class: "form", local: true) do |f| %>
            <div class="mb-3">
              <%= f.label :name, "Name Of Category", class: "form-label" %>
              <%= f.text_field :name, class: "form-control shadow p-2 bg-body-tertiary rounded", placeholder: "Enter name" %>
              <% @category.errors.full_messages_for(:name).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
            <div class="mb-3">
              <%= f.label :categoryimage, "Image", class: "form-label" %>
              <%= f.file_field :categoryimage, class: "form-control", type: "file", id: "formFile" %>
              <% @category.errors.full_messages_for(:categoryimage).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
<% end %>