<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Logo</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
         
          <li class="nav-item">
              <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="<%= aboutus_path %>">AboutUs</a>
          </li>
          <li class="nav-item">
                    <a class="nav-link" href="<%= new_contact_us_request_path %>">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= products_path %>">Products</a>
         </li>
          
        </ul>
      </div>
      <div class="d-flex">
       <!-- Trigger for the Offcanvas instead of link to cart_path -->
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="bi bi-cart"></i> View Cart
        </button>
      </div>
      
    </div>
  </nav>
</div>
<!-- Offcanvas Component -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Your Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
     <%= render 'carts/cart' %>
  </div>
</div>